*,body, p, h2,h3,h4{font-family: "TT Lakes Regular", sans-serif; font-size: 16px;}
/* ! Styles */
/* fare stili in percentuale e mediaquery */



.logo-text{
  font-family: "Teko", sans-serif;
  font-size: 6vw;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.logo-subtext{
  font-size: 2vw;
  text-align: center;
  color: #fff;
  font-family: "TT Lakes Regular", sans-serif;
}

.card-title{color: #fff; font-weight: 800; font-size: 50px;}
.card-text{color: #fff; font-size: 20px;  box-sizing: border-box; font-family: "TT Lakes W05", sans-serif;}




/* ! Coverbr */
.coverbr{
  position: relative;
  overflow: hidden;
  border: 0;
  margin: 0;
}

.coverbr img{
  width: 100%;
}

.coverbr__logo{
  z-index: 2;
  display: flex;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  height: 30%;
}


.coverbr:after{
  content: ' ';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  bottom: 0; left: 0;
  background: #000;
  opacity: .6;
}

.coverbr__content{
  z-index: 2;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.divisorio{background: #000; height: 50px; width: 100%; display: block; margin: 0;}

.sfondo-br{
  padding: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url("../Foto/Foto main/sfondo\ br2.jpg_large"); /* Aggiunge lo sfondo */
  background-attachment: fixed; /* Lo rende fisso */
  background-size: cover; /* Adatta lo sfondo alla finestra del browser */
  min-height: 100vh; /* Impedisce che le card superino l'altezza della finestra */
}

.brcard{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(20,20,20);
  color: white;
  border: 3px solid white;
  box-shadow: 0px 0px 40px black;
  margin: 30px 30px;
  border-radius: 30px;
  padding: 10px;
}

.brcard__container{
  height: 30vw;
  width: 60vw;
  padding: 40px;
}

.brcard__container img{float: left; position: absolute; height: 100%;}

.brcard__content{ position: absolute; top:-200%}
.brcard__content h2{padding-bottom: 20px;}
.card-title{padding-left: 40px; font-family: 'Teko', sans-serif;}
.card-text{
  font-family: "TT Lakes W05 Regular" sans-serif;
  font-style: italic;
  font-size: 170%;
  text-align: left;
  padding: 40px;
  top: 50%;
  color: #F3F3F3;
  line-height: 33px;
}

@media (max-width: 768px) {
  .brcard__container2{
    flex-direction: column;
    left: 50%;
  }
  .brcard__container img{width: 100%;}
  .logo-text{left: 50%; bottom: 0%;}
  .logo-subtext{left: 50% ;bottom: 0%;}
}