body{font-family: "TT Lakes Regular", sans-serif; font-size: 16px; margin: 0; background: rgb(12, 12, 12);}
a{text-decoration: none;}


.sfondo__tot{  
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url("../Foto/Foto main/Sfondo\ leggende 2.jpg");
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;}

.carousel {
    margin-left: 15%;
    margin-right: 15%;
    padding: 20px 0px;
}

.link{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.abs{
    font-family: "TT Lakes Regular" sans-serif;
    font-style: italic;
    font-size: 140%;
    color: rgb(255, 255, 255);
}

ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}

.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 10%;
    height: 50%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 10%;
    height: 50%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }

.tit{
    font-family: "Protest Revolution", sans-serif; 
    font-style: italic;
    color: #fff;
    /* text-transform: uppercase; */
    font-size: 7vw;
    text-align: center;
    margin: 110px 0 10px 0;
}

.container-mappe{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 28, 30);
    margin: 0 30px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.mappa{
    height: 30vw;
    width: 60vw;
    padding: 40px;
}

.descriziones{
    font-family: "TT Lakes Regular" sans-serif;
    font-style: italic;
    font-size: 140%;
    text-align: center;
    padding: 40px;
    top: 50%;
    color: #fff;
}

.ghost{color: rgb(29, 28, 30);}

@media (max-width: 1100px){
    .titolo-mappa{
        font-family: "Protest Revolution", sans-serif; 
        font-style: italic;
        /* text-transform: uppercase; */
        font-size: 7vw;
        text-align: center;
        margin: 70px 0 10px 0;
    }
    
    .container-mappe{
        display: flex;
        flex-direction: column;
        background-color: rgb(29, 28, 30);
        margin: 0 30px;
        border-radius: 30px;
    }
    
    .mappa{
        height: 30vw;
        width: 60vw;
    }
    
    .descrizione-mappa{
        font-family: "TT Lakes Regular" sans-serif;
        font-style: italic;
        font-size: 140%;
        text-align: center;
        top: 50%;
    }
}