*{box-sizing: border-box; font-family: "TT Lakes Regular", sans-serif; user-select: none;}

body{padding: 0;margin: 0;}

.page_container{
    max-width: 2000px;
    position: relative;
    overflow-x: hidden;
}


.background{
    height: 100%;
    overflow: hidden;
    z-index: -1;
    position: cover;
}
.background img{
    width: 110%;
    left: -2%;
    top: -5%;
    position: fixed;
    filter: blur(6px) brightness(40%);
}

main{
    display: flex;
    justify-content: center;
    height: 100vh;
}


/* Panel registrazione */
.panel{
    background: rgb(20,20,20);
    color: white;
    margin: auto auto;
    text-align: center;
    width: 550px;
    border-radius: 50px;
    border: 3px solid white;
	box-shadow: 0px 0px 40px black;
    position: relative;
    padding: 20px;
}
.panel form{
    padding: 0 20px;

}
.panel form table{
    text-align: left;
    font-size: 20px;
}
.panel form input{
    margin: 7px 0 15px 0;
    padding: 4px 10px;
    width: 464px;
    height: 40px;
    font-size: 20px;
}

.panel a{
    display: block;
    position: absolute;
    left: 50%; transform: translateX(-50%);
    margin: auto;
    bottom: 10px;
    text-decoration: none;
    color: rgb(181, 181, 181);
}
.panel a:hover{color: white;}
.panel hr{
    position: absolute;
    width: 100%;
    right: 0%;
    bottom: 30px;
}
#username, #password, #conferma, #nome, #cognome, #telefono, #email{
    border-radius: 0px;
    outline: auto;
}
.panel .submit{
    font-weight: bold;
    width: 100px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
    background: rgb(0, 149, 255);
    border: 1px solid white;
}
.panel .submit:hover{
    background-color: rgb(0, 107, 183);
}

.panel .home_button{
    width: 40px;
    height: 40px;
    position: absolute;
    right: -220px;
    top: -770px;
}
.panel .home_button img{
    width: 100%;
}
.panel .home_button img:hover{
    filter: brightness(80%);
}


/* Panel accedi */
.panel-accedi{
    background: rgb(20,20,20);
    color: white;
    width: 400px;
    height: 350px;
    margin: auto auto;
    text-align: center;
    border-radius: 50px;
    border: 3px solid white;
	box-shadow: 0px 0px 40px black;
    position: relative;
    padding: 20px;
}
.panel-accedi form{
    padding-top: 10px;
}
.panel-accedi form table{
    text-align: left;
}
.panel-accedi form label{
    padding-right: 5px;
}

.panel-accedi form input{
    padding: 5px;
    margin: 5px 0;
    width: 350px;
    height: 40px;
}
.panel-accedi a{
    display: block;
    position: absolute;
    left: 50%; transform: translateX(-50%);
    margin: auto;
    bottom: 10px;
    text-decoration: none;
    color: rgb(181, 181, 181);
}
.panel-accedi a:hover{color: white;}
.panel-accedi hr{
    position: absolute;
    width: 100%;
    bottom: 40px;
}

.panel-accedi .submit{
    font-weight: bold;
    width: 100px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
    background: white;
    border: 1px solid white;
}
.panel-accedi .submit:hover{
    background-color: #da292a;
}

.panel-accedi .home_button{
    width: 30px;
    height: 30px;
    position: absolute;
    right: -220px;
    top: -380px;
}
.panel-accedi .home_button img{
    width: 100%;
}
.panel-accedi .home_button img:hover{
    filter: brightness(80%);
}



ul{list-style-type: none; padding: 0;}

li{display: inline-block;}


/*! Gestione foto profilo */
input[type="radio"][id^="cb"] {
display: none;
}

label {
    padding: 2px;
    display: block;
    position: relative;
    cursor: pointer;
}

label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

label img {
    height: 120px;
    width: 120px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 100px; 
    margin: 10px;
}

:checked + label {
    border-color: #ddd;
}

:checked + label:before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
}

:checked + label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #585858;
    z-index: -1;
}

.log{
    padding-top: 20px;
    font-size: 15px;
}