.menu-text{font-family: "Teko", sans-serif; font-size: 25px; text-transform: uppercase; color: lightgrey;}
a{text-decoration: none;}


.main1{
    background: #161616;
    margin: 0;
    /* width: 100%; */
}



.cover1{
    position:relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}


.wp{
    width: 100%;
    /* height: auto; */
    padding: 74px 0 0 0;
    mask-image: linear-gradient(rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0) 98%);
    margin-bottom: 20px;
}


.main_name{
    font-family: "Protest Revolution", sans-serif; 
    font-style: italic;
    /* text-transform: uppercase; */
    font-size: 14vw;
    position: absolute;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.name{
    color: white;
}

.info{
    margin-top: 50px;
}

.character{
    width: 40%; /*Vedere se va bene 30%*/
    float: left;
    padding: 0 40px 40px 40px;
}

.description{
    color: white;
    font-family: "TT Lakes Regular" sans-serif;
    font-style: italic;
    font-size: 20px; /*controllare con 100%*/
    padding: 0px 80px 40px 80px;
    width: 60%;
    float: left;
}

.title{
    color: white;
    margin-bottom: 30px;
    font-size: 40px;
    padding: 40px 0 0 80px;
    width: 60%;
    float: right;
}

.video{
    width: 70%;
    margin: 0 15%;
}

.character-tagliato{
    display: none;
}

@media (max-width: 1100px){
    .title{
        color: white;
        display: flex;
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 30px;
        padding: 40px 0 0 50px;
        width: 100%
    }
    .description{
        font-size: 90%;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 50px;
    }

    .character{
        display: none;
    }

    .character-tagliato{
        display: block;
        width: 50%;
        /* padding: 0 40px 0 40px; */
        margin-left: 50%;
        transform: translateX(-50%);
    }
}