
body{font-family: "TT Lakes Regular", sans-serif; font-size: 16px;}
a{text-decoration: none;}

.logo-text{
  font-family: "Teko", sans-serif;
  font-size: 6vw;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.logo-subtext{
  font-size: 2vw;
  text-align: center;
  color: #fff;
}

/* ! Cover */
.cover2{
  margin-top: 105px;
  border-top: 0;
  position: relative;
  border-bottom: 0px; 
  overflow: hidden;
}


.cover2__logo{
  z-index: 2;
  display: flex;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  height: 40%;
}


.cover2:after{
  content: ' ';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  bottom: 0; left: 0;
  background: #000;
  opacity: .5;
}

.cover2__background img{
  width: 100%;
  height: auto;
  display: block;
}

.cover2__content{
  z-index: 2;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -20%);
}


.legends-background{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url("../Foto/Foto main/Sfondo\ leggende 2.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

/* .divisorio{background: #000; height: 100%; width: 100%; display: block; position: relative;} */

/* .divisorio{background: #000; height: 200px; width: 100%; display: block; position: relative;} */




/* ! Gestione Banners */
.banners{
  z-index: 3;
  margin: 40px;
}

.banner{
  width: 23.6%;
  margin: 1% 0.7%;
  float: left;
  height: auto;
  vertical-align: top;
  background-color: #ffffff64;
  transition: all 200ms ease-in;

}

.banner:hover {
  transform: scale(1.15);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  opacity: 1.1;
  background-color: rgb(225, 247, 255);
}

.banner img {width: 100%; height: auto;}
.banner__copy h3{font-size: 2.2vw; color: #000; text-align: center; font-weight: 600; margin-top: 4px;}
.banner__copy p{margin-top: 8px; font-size: 1.5vw;  color: #000; text-align: center; padding-bottom: 10px;}




@media (min-width:768px) and (max-width: 1100px) {
  .legends-background{
    z-index: 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url("../Foto/Foto main/Sfondo\ leggende 2.jpg");
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
  }

  .divisorio{background: #000; height: 50px; width: 100%; display: block;}

  .banners{
    z-index: 3;
    margin: 20px;
  }
  
  .banner{
    width: 48%;
    float: left;
    margin: 1% 1%;
    vertical-align: top;
    background-color: #ffffff64;
    transition: all 200ms ease-in;
  }

  .banner:hover {
    transform: scale(1.15);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    opacity: 1.1;
    background-color: rgb(225, 247, 255);
  }
  
  .banner img {width: 100%; height: auto;}
  .banner__copy h3{font-size: 6vw; color: #000; text-align: center; font-weight: 600; padding: 5px 0 5px 0;}
  .banner__copy p{padding: 5px 0 5px 0;font-size: 3.5vw;  color: black; text-align: center;}

  .cover2__content{
    z-index: 2;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
  
}


@media (max-width: 768px) {
  .legends-background{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url("../Foto/Foto main/Sfondo\ leggende 2.jpg");
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
  }

  .divisorio{background: #000; height: 50px; width: 100%; display: block;}

  .banners{z-index: 3; margin: 20px;}

  .banner{
    /* border: 1px solid red; */
    width: 98%;
    float: left;
    margin: 4% 1%;
    vertical-align: top;
    background-color: #ffffff64;
    transition: all 200ms ease-in;
  }
  
  .banner:hover {
    transform: scale(1.15);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    opacity: 1.1;
    background-color: rgb(225, 247, 255);
  }
  
  .banner img {width: 100%; height: auto;}
  .banner__copy h3{font-size: 8vw; color: #000; text-align: center; font-weight: 600;}
  .banner__copy p{margin-top: 8px; margin-bottom: 8px; font-size: 5.5vw;  color: black; text-align: center;}

  .cover2__content{
    z-index: 2;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
  
}
